/* MAIN CSS */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
a { text-decoration: none !important;cursor: pointer; }
a img {border: none;}
a:hover, a:active, a:focus { outline: 0;}
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 600; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: 600; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
p{margin: 3px 0px;}
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: default; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
input {outline: none;border: none;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


@font-face {
  font-family: 'casual';
  src: url('~/assets/fonts/casual/casual-regular-webfont.eot');
  src: url('~/assets/fonts/casual/casual-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/casual/casual-regular-webfont.woff2') format('woff2'),
  url('~/assets/fonts/casual/casual-regular-webfont.woff') format('woff'),
  url('~/assets/fonts/casual/casual-regular-webfont.svg#casualregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'favorit';
  src: url('~/assets/fonts/favorit/abcfavorit-light-webfont.eot');
  src: url('~/assets/fonts/favorit/abcfavorit-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/favorit/abcfavorit-light-webfont.woff2') format('woff2'),
  url('~/assets/fonts/favorit/abcfavorit-light-webfont.woff') format('woff'),
  url('~/assets/fonts/favorit/abcfavorit-light-webfont.svg#abc_favoritlight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'favorit';
  src: url('~/assets/fonts/favorit/abcfavorit-regular-webfont.eot');
  src: url('~/assets/fonts/favorit/abcfavorit-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/favorit/abcfavorit-regular-webfont.woff2') format('woff2'),
  url('~/assets/fonts/favorit/abcfavorit-regular-webfont.woff') format('woff'),
  url('~/assets/fonts/favorit/abcfavorit-regular-webfont.svg#abc_favoritregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'favorit';
  src: url('~/assets/fonts/favorit/abcfavorit-bold-webfont.eot');
  src: url('~/assets/fonts/favorit/abcfavorit-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/favorit/abcfavorit-bold-webfont.woff2') format('woff2'),
  url('~/assets/fonts/favorit/abcfavorit-bold-webfont.woff') format('woff'),
  url('~/assets/fonts/favorit/abcfavorit-bold-webfont.svg#abc_favoritbold') format('svg');
  font-weight: 600;
  font-style: normal;
}





* {vertical-align: top;font-family: 'favorit', sans-serif;font-weight: 400;color: #fff;line-height: 1.3;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;margin: 0;padding: 0;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
*:not(.clip_field):not(textarea):not(input) {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
*, *::after, *::before {box-sizing: border-box;}
html {height: 100%;}
body {margin: 0;padding: 0;width: 100%;height: 100%;background: #000;position: relative;}
#body_mask {width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: -1;background: rgba(0,0,0,.1);opacity: 0;}
svg {width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.space_box {width: 100%;height: 2vh;}
input {outline: none !important;}
textarea,
input[type="text"],
input[type="email"] {-webkit-appearance: none;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}

.ease {-webkit-transition: .3s ease;-moz-transition: .3s ease;-o-transition: .3s ease;-ms-transition: .3s ease;transition: .3s ease;}
.ease2 {-webkit-transition: .5s ease;-moz-transition: .5s ease;-o-transition: .5s ease;-ms-transition: .5s ease;transition: .5s ease;}
.ease3 {-webkit-transition: .7s ease;-moz-transition: .7s ease;-o-transition: .7s ease;-ms-transition: .7s ease;transition: .7s ease;}
.easeIn {-webkit-transition: all .5s cubic-bezier(0.845, 0, 0.340, 1);-moz-transition: all .5s cubic-bezier(0.845, 0, 0.340, 1);-o-transition: all .5s cubic-bezier(0.845, 0, 0.340, 1);-ms-transition: all .5s cubic-bezier(0.845, 0, 0.340, 1);transition: all .5s cubic-bezier(0.845, 0, 0.340, 1);}
.easeOut {-webkit-transition: all 1s cubic-bezier(0,.73,.4,1);-moz-transition: all 1s cubic-bezier(0,.73,.4,1);-o-transition: all 1s cubic-bezier(0,.73,.4,1);-ms-transition: all 1s cubic-bezier(0,.73,.4,1);transition: all 1s cubic-bezier(0,.73,.4,1);}
.easeInOut {-webkit-transition: all .6s cubic-bezier(.07,.41,.43,1);-moz-transition: all .6s cubic-bezier(.07,.41,.43,1);-o-transition: all .6s cubic-bezier(.07,.41,.43,1);-ms-transition: all .6s cubic-bezier(.07,.41,.43,1);transition: all .6s cubic-bezier(.07,.41,.43,1);}
.easeBounce {-webkit-transition: .5s cubic-bezier(.57,-0.48,.43,1.45);-moz-transition: .5s cubic-bezier(.57,-0.48,.43,1.45);-o-transition: .5s cubic-bezier(.57,-0.48,.43,1.45);-ms-transition: .5s cubic-bezier(.57,-0.48,.43,1.45);transition: .5s cubic-bezier(.57,-0.48,.43,1.45);}
.clear_me:after {width: 100%;height: 0px;display: block;content: "";clear: both;visibility: hidden;}
.up_case, .up_case * {text-transform: uppercase;}
.waDelay, .waDelay * {-webkit-transition-delay: 0s !important;-moz-transition-delay: 0s !important;transition-delay: 0s !important;}
.vertical > span {width: 100%;height: 100%;display: flex;flex-direction: column;justify-content: center;position: relative;z-index: 2;font-size: inherit;font-weight: inherit;font-style: inherit;color: inherit;}
.abs {width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 1;}
.ld_content {width: 100%;position: relative;z-index: 5;}
.mobi {display: none !important;}
.hide_mobi {display: block !important;}
.disp_row_between.hide_mobi, .disp_row.hide_mobi, .center_col.hide_mobi {display: flex !important;}

.pageContent, .landing_wrap {width: 100%;height: 100%;min-height: 100vh;position: relative;}
body.menu-open {overflow: hidden;}

.hide_all {position: absolute;top: 0;left: -100%;opacity: 0;z-index: -1;}
.disp_row {display: flex;flex-direction: row;}
.disp_row.cst_box {justify-content: space-between;padding-bottom: 20px;}
.disp_row_between {display: flex;flex-direction: row;justify-content: space-between;}
.disp_row_center {display: flex;flex-direction: row;justify-content: center;}
.disp_col {display: flex;flex-direction: column;}
.disp_col_between {display: flex;flex-direction: column;justify-content: space-between;}
.center_col {height: 100%;display: flex;flex-direction: column;justify-content: center;}
.center_col.stretch {height: auto;}
.center_col > span {font-size: inherit;font-weight: inherit;color: inherit;font-style: inherit;}

.messanger {padding: 25px 45px;position: fixed;bottom: 0;right: 50px;opacity: 0;z-index: 100;background: #e1d1c0;font-size: 18px;color: #000;}
.messanger:after {width: 0;height: 2px;position: absolute;bottom: 0;left: 0;content: "";display: block;background: #c14e23;-webkit-transition: 4s linear;-moz-transition: 4s linear;transition: 4s linear;}
.messanger.show {opacity: 1;bottom: 50px;}
.messanger.show.hide {opacity: 0;bottom: 0;}
.messanger.show:after {width: 100%;}
.messanger.show.hide:after {width: 100%;-webkit-transition: 0s linear;-moz-transition: 0s linear;transition: 0s linear;}

.blockContent {width: 100%;padding: 7vw 0;position: relative;}
.back_poster {width: 100%;height: 100%;position: absolute;top: 0;left: 0;overflow: hidden;z-index: 2;}
.content_grid {height: 100%;padding: 0 9%;position: relative;z-index: 3;display: grid;}
.hideLiner span {font-size: inherit;font-weight: inherit;font-weight: inherit;font-family: inherit;color: inherit;line-height: inherit;}
.hideLiner > span {display: block;overflow: hidden;position: relative;margin-top: -0.6vw;}
.hideLiner > span > span {position: relative;top: 0.6vw;white-space: nowrap;}
.hideLiner.huge > span {margin-top: -1.2vw;}
.hideLiner.huge > span > span {top: 1vw;}
.hideLiner.massive > span {margin-top: -3vw;}
.hideLiner.massive > span > span {top: 2.2vw;}

.closing_overlay {width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 1;}
.menu {width: 100vw;height: 100vh;position: fixed;z-index: -1;top: 0;left: 0;background: #131313;opacity: 0;}
.menu > .content_grid {padding-top: 8vh;padding-bottom: 8vh;}
.menu .gp-logo {z-index: 10;}
.menu .menu-frames {z-index: 10;height: 30%;}
body.menu-open .menu {z-index: 1010;opacity: 1;}
body.menu-closing .menu {opacity: 0;}

.frame-wrap {width: 25vw;height: 0;padding-top: 40%;position: relative;margin-left: 1.8vw;cursor: pointer;}
.frame-wrap .blockContent {/*padding-top: 0;*/}
.block-frame {width: 100vw;height: 300%;max-height: 150vh;-webkit-transform: scale(0.25);-moz-transform: scale(0.25);transform: scale(0.25);transform-origin: top left;position: absolute;top: 0;left: 0;overflow: hidden;will-change: transform;-webkit-transition: transform .8s cubic-bezier(.19,1,.22,1);-moz-transition: transform .8s cubic-bezier(.19,1,.22,1);transition: transform .8s cubic-bezier(.19,1,.22,1);}
.block-frame.start-zoom {height: 100vh;cursor: default;z-index: 100000;-webkit-transform: scale(1);-moz-transform: scale(1);transform: scale(1);}
.block-frame .blockContent {width: 100vw;}

body.hideMenu .menu,
body.hideMenu .block-frame {-webkit-transition: none;-moz-transition: none;transition: none;}



@keyframes hoverZoom {
  0% {-webkit-transform: scale(0.25);-moz-transform: scale(0.25);transform: scale(0.25);}
  50% {-webkit-transform: scale(0.26);-moz-transform: scale(0.26);transform: scale(0.26);}
  100% {-webkit-transform: scale(0.25);-moz-transform: scale(0.25);transform: scale(0.25);}
}



.slidebarHolder {width: 100vw;overflow: hidden;position: relative;}
.slidebarContent {position: relative;-webkit-transition: .8s ease, opacity .5s ease;-moz-transition: .8s ease, opacity .5s ease;transition: .8s ease, opacity .5s ease;}

body.sidebarActivated {overflow: hidden;}
body.sidebarActivated .slidebarContent {-webkit-transform: translateX(-100%);-moz-transform: translateX(-100%);transform: translateX(-100%);}
body.fast-hide .slidebarContent {-webkit-transition: .2s ease !important;-moz-transition: .2s ease !important;transition: .2s ease !important;}

.gp-logo {width: 33vh;height: 6vh;display: block;position: relative;}
.gp-logo:before {width: 6vh;height: 100%;position: absolute;top: 0;left: 0;display: block;content: "";background: url('~/assets/images/gp-logo.svg') left center no-repeat;background-size: contain;}
.gp-logo:after {width: calc(100% - 12vh);height: 100%;position: absolute;top: 0;left: 8vh;display: block;content: "";background: url('~/assets/images/gp-name.svg') left 70% no-repeat;background-size: contain;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
body.sticky header .gp-logo:after {width: 0;opacity: 0;}

.action_holder .action > div {display: block;width: 100%;height: 1px;padding: 0;margin: 0;line-height: 0;}
.packagesIntro > span em {font: 150%/0.8 casual;font-style: normal;color: #c14e23;}

#questionnaire_holder {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 2;}
#questionnaire_box {width: 100vw;height: 100vh;position: fixed;top: 0;left: 0;z-index: -1;opacity: 0;background: #000;overflow: hidden;}
#questionnaire_box iframe {width: 100%;height: 100%;position: absolute;top: 0;left: 0;border: 0;z-index: 2;}
body.questions #questionnaire_box {z-index: 998;opacity: 1;}
body.fadeOut_questions #questionnaire_box {opacity: 0;}

#topImage {opacity: 0;-webkit-transition: .3s ease;-moz-transition: .3s ease;transition: .3s ease;}
#topImage.ready {opacity: 1;}





@media screen and (min-width: 320px) and (max-width: 1023px) {
  .mobi {display: block !important;}
  .hide_mobi {display: none !important;}
  .disp_row_between.mobi, .disp_row.mobi, .center_col.mobi, .flex.mobi {display: flex !important;}
  .disp_row_between.hide_mobi, .disp_row.hide_mobi, .center_col.hide_mobi, .flex.hide_mobi {display: none !important;}

  .blockContent {padding: 18vw 0;}
  .content_grid {padding: 0 4.2vw;}
  .hideLiner > span > span {white-space: normal;}

  .menu > .content_grid {padding-top: 4vh;}
  .menu > .content_grid > .disp_row_between {flex-direction: column;justify-content: flex-start;}
  .menu .menu-frames {margin-top: 10vh;}
  .frame-wrap {width: 50vw;margin-left: 0;}
  .block-frame {-webkit-transform: scale(0.4);-moz-transform: scale(0.4);transform: scale(0.4);}

  .gp-logo {width: 14vh;height: 3vh;}
  .gp-logo:before {width: 3vh;}
  .gp-logo:after {width: calc(100% - 5vh);left: 4.5vh;}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  body.sticky .gp-logo {width: 5vh;height: 5vh;top: calc(50% - 2.5vh);}
  body.sticky .gp-logo:before {width: 100%;height: 100%;}
  .gp-logo {display: block;width: 50vw;height: 6vh;position: absolute;top: 7vw;left: 4.2vw;z-index: 4;}
  .gp-logo:before {width: 5vh;}
  .gp-logo:after {width: calc(100% - 8vh);left: 7vh;background-position: left 60%;}
}

@media screen and (min-width: 1281px) {
  body:not(.mobile) .frame-wrap:hover .block-frame {-webkit-animation: .3s ease hoverZoom;-moz-animation: .3s ease hoverZoom;animation: .3s ease hoverZoom;}
  .back_poster img {width: 100%;height: 100%;}
}








/*
26px => 6vw
15px => 3.6vw
 */











